.login {
	display: grid;
	place-items: center;
	height: 100vh;
}

.login__main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 10px #dcdcdc;
    background-color: white;
}

.login__main__top > form{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px #dcdcdc;
}

.login__main__top > form > button {
    margin: 5px 0 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;	
}

.login__main__top > form > input {
    margin: 5px 0;
    padding: 10px 10px;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-width: thin;
    font-size: 20px;
}

.login__main__top > form > input:focus {
    outline: none;
}

.login__main__top > form > button:hover {
	background-color: white;
	color: #2e81f4;
}

.login__main__bottom {
    margin: 10px 0 5px;
}

.login__main__bottom > button {
	display: flex;
	flex-direction: column;
	width: 300px;
	background-color: #64CD3C;
	color: #eff2f5;
	font-weight: 800;	
        margin: 10px auto;
}

.login__main__bottom > button:hover {
	background-color: white;
	color: #64cd3c;
}

.login > div > img {
	object-fit: contain;
	height: 150px;
}

