.login {
	display: grid;
	place-items: center;
	height: 100vh;
}

.login__main {
}

.login__signIn > button {
	display: flex;
	flex-direction: column;
	width: 300px;
	background-color: #2e81f4;
	color: #eff2f5;
	font-weight: 800;	
	margin-top: 10px;
	margin-bottom: 10px;
}

.login__signIn > button:hover {
	background-color: white;
	color: #2e81f4;
}
/*
.login__signUp > button  {
	display: flex;
	flex-direction: column;
	width: 300px;
	background-color: #64CD3C;
	color: #eff2f5;
	font-weight: 800;	
}
.login__signUp > button:hover {
	background-color: white;
	color: #64cd3c;
}
*/

.login > button:hover {
}

.login > div > img {
	object-fit: contain;
	height: 150px;
}

